{{> header}}
{{embedded "server"}}

<ul>
    <li><a href="/api">/api</a></li>
    <li><a href="/server">/server</a></li>
    <li><a href="/webClient">/webClient</a></li>
</ul>

<button type="button" class="load-button">load</button>
<div id="content"></div>