{{embedded "test"}}

<button type="button" class="load-button">load</button>
<div id="content"></div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>

<script type="text/javascript">
    jQuery('.load-button').on('click', function () {
        var source = jQuery('#test-template').innerHTML
        var template = Handlebars.compile(source);
        var data = {
            projectList: [
                {
                    name: '1'
                },
                {
                    name: '2'
                }
            ]
        };

        var html = template(data);

        console.log('html', html);

        jQuery('#content').html(html);
    });
</script>