{{#partial "body"}}
    <button type="button" class="add-project-button">add</button>
    <ul>
    {{#each projectList}}
        <li>{{@index}} {{projectId}} - {{name}}</li>
    {{/each}}
    </ul>
{{/partial}}

{{> layout}}