<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.uuidcode.java11.test.dao.ProjectDao">
    <select id="findAll" resultType="com.github.uuidcode.java11.test.model.Project">
        select * from project;
    </select>

    <insert id="insert" parameterType="com.github.uuidcode.java11.test.model.Project">
        insert into project
        (
          name
        )
        values(
          #{name}
        )
    </insert>
</mapper>